//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
.text {
   font-size: 30px;
}
//<Подключаем шрифты>=======================================================================================
@font-face {
   font-family: "Appetite New";
   src: url("../fonts/Appetite_New/Appetite_New.eot");
   src: local("☺"), url("../fonts/Appetite_New/Appetite_New.woff") format("woff"),
      url("../fonts/Appetite_New/Appetite_New.ttf") format("truetype"),
      url("../fonts/Appetite_New/Appetite_New.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Museo Sans Cyrl -300";
   src: url("../fonts/MUSEOSANSCYRL_1/MUSEOSANSCYRL_1.eot");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_1/MUSEOSANSCYRL_1.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_1/MUSEOSANSCYRL_1.ttf") format("truetype"),
      url("../fonts/MUSEOSANSCYRL_1/MUSEOSANSCYRL_1.svg") format("svg");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Museo Sans Cyrl -500";
   src: url("../fonts/MUSEOSANSCYRL_2/MUSEOSANSCYRL_2.eot");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_2/MUSEOSANSCYRL_2.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_2/MUSEOSANSCYRL_2.ttf") format("truetype"),
      url("../fonts/MUSEOSANSCYRL_2/MUSEOSANSCYRL_2.svg") format("svg");
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "Museo Sans Cyrl -700";
   src: url("../fonts/MUSEOSANSCYRL_3/MUSEOSANSCYRL_3.eot");
   src: local("☺"), url("../fonts/MUSEOSANSCYRL_1/MUSEOSANSCYRL_1.woff") format("woff"),
      url("../fonts/MUSEOSANSCYRL_3/MUSEOSANSCYRL_3.ttf") format("truetype"),
      url("../fonts/MUSEOSANSCYRL_3/MUSEOSANSCYRL_3.svg") format("svg");
   font-weight: 700;
   font-style: normal;
}
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Museo Sans Cyrl -300";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 85;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
   color: #000;
   font-size: 14px;
   &.lock {
      overflow: hidden;
   }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   &.loaded {
   }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + vw;
   margin: 0 auto;
   width: 100%;
   @media (max-width: $md1+px) {
      max-width: 970px;
   }
   @media (max-width: $md2+px) {
      max-width: 750px;
   }
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
